[Unit]
Description=A lightweight DHCP and caching DNS server for uap0
After=network.target dnsmasq.service virtual_ap.service
BindsTo=virtual_ap.service
PartOf=hostapd.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStartPre=-/usr/bin/ip link set up dev uap0
ExecStartPre=-/usr/bin/ip addr add 10.0.0.1/24 dev uap0
ExecStartPre=-/usr/bin/sysctl net.ipv4.ip_forward=1
ExecStart=/usr/bin/dnsmasq -k --user=dnsmasq --interface=uap0 --listen-address=10.0.0.1 --bind-dynamic --dhcp-range=10.0.0.50,10.0.0.150,255.255.255.0,24h --dhcp-option-force=option:router,10.0.0.1 --dhcp-option-force=option:dns-server,10.0.0.1 --dhcp-option-force=option:mtu,1500 --domain-needed --bogus-priv

ExecStopPost=-/usr/bin/sysctl net.ipv4.ip_forward=0
ExecStopPost=-/usr/bin/ip addr flush dev uap0
ExecStopPost=-/usr/bin/ip link set down dev uap0

[Install]
WantedBy=hostapd.service