[Unit]
Description=minidlna server
After=network.target

[Service]
Type=simple
User=thebox
Group=thebox
ExecStart=/usr/local/sbin/minidlnad -S -f /etc/minidlna.conf
ProtectSystem=full
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on

[Install]
WantedBy=multi-user.target
